<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Slidey Pane Demo</title>

    <link rel="stylesheet" href="../dist/styles.css" />

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css" />

    <link rel="stylesheet" href="../dist/sizes.css" />

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    <script src="example.js"></script>
    <script src="../slidey-pane.js"></script>
  </head>

  <body ng-app="SlideyPaneExample">
    <button ng-click="toggleBig = !toggleBig" type="button">Big Pane</button>
    <button ng-click="toggleMed = !toggleMed" type="button">Med Pane</button>
    <button ng-click="toggleSmall = !toggleSmall" type="button">Small Pane</button>

    <div style="height: 2000px; width: 100px; border: 1px solid black; background-color: yellow;">
      Big div to test scrolling
    </div>


    <jb-slidey-pane reveal="toggleBig" on-close="toggleBig = false" class="jbsp-pane--big">
      <h1>Big Pane</h1>

      <p>This is an example of a big pane</p>

      <p>It can have a nested pane</p>

      <button ng-click="toggleNested = !toggleNested" type="button">Show nested</button>

      <div style="height: 2000px; width: 100px; border: 1px solid black; background-color: yellow;">
        inside is scrollable
      </div>

      <jb-slidey-pane reveal="toggleNested" on-close="toggleNested = false">
        <h2>A nested pane</h2>
      </jb-slidey-pane>
    </jb-slidey-pane>

    <jb-slidey-pane reveal="toggleMed" on-close="toggleMed = false" class="jbsp-pane--med">
      <h1>Medium Pane</h1>
    </jb-slidey-pane>

    <jb-slidey-pane reveal="toggleSmall" on-close="toggleSmall = false" class="jbsp-sheet--small">
      <h1>Small Pane</h1>
    </jb-slidey-pane>
  </body>
</html>
