.jbsp-pane {
  height: 100%;
  z-index: 1001; 
  background: #FCFBF0;
  position:fixed;

  width: 25%;

  top: 0;
  right: -100%;

  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  -ms-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
}

.jbsp-pane--hidden {
  // If we set the right to -100% it guarantees sliding it out of view
  // but may not play nicely with animation easing
  right: -100%;
}

.jbsp-pane--revealed {
  right: 0
}

.jbsp-pane__restrict-y {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.jbsp-pane__restrict-x {
  width: 100%;
  overflow-x: hidden;
}

.jbsp-pane__close {
  position: absolute;
  width: 40px;
  height: 40px;
  left: -40px;
  top: 0;
}

body.jbsp-clipped {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}
